# ...other values...

[user]
	name = Ruslan Khasanshin
	email = r.m.khasanshin@gmail.com

[core]
	autocrlf = input
	quotepath = off
	safecrlf = warn
	editor = nano -w

[pull]
	rebase = false

[init]
	defaultBranch = main

[includeIf "gitdir:~/Work/"]
    path = ~/Work/.gitconfig

[url "ssh://git@private.git.hostname:"]
    insteadOf = https://private.git.hostname

# ...other values...
